.slider {
    .swiper-container {
        position: relative;
        width: 100%;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 50%;
            height: 182px;
            background: #0F0F28;
            transform: translateY(50%);

            @media(max-width: 1024px) {
                height: 116px;
            }

            @media(max-width: 650px) {
                height: 102px;
            }
        }

        .swiper-wrapper {
            position: relative;
            align-items: center;
            z-index: 1;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 600px;
                height: auto;

    
                @media(max-width: 1440px) {
                    width: 400px;
                }
    
                @media(max-width: 1024px) {
                    width: 345px;
                }
    
                @media(max-width: 842px) {
                    width: 250px;
                }
    
                @media(max-width: 700px) {
                    width: 200px;
                }
    
                @media(max-width: 650px) {
                    width: 254px;
                }
    
                .image-compare {
                    max-width: 242px;
                    height: 166px;
    
                    @media(max-width: 1024px) {
                        max-width: 145px;
                        height: 98px;
    
                        .image-compare-before {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                    @media(max-width: 650px) {
                        height: 90px;
                    }
    
                    @media(max-width: 400px) {
                        margin-right: 60px;
                    }
    
                    .control {
                        position: absolute;
                        content: "";
                        top: calc(50% - 41px);
                        left: calc(50% - 4.5px);
                        width: 9px;
                        height: 82px;
                        background: #FFFFFF;
    
                        @media(max-width: 1024px) {
                            top: calc(50% - 25.5px);
                            left: calc(50% - 2.5px);
                            width: 5px;
                            height: 51px;
                        }
    
                        @media(max-width: 650px) {
                            top: calc(50% - 19px);
                            left: calc(50% - 2px);
                            width: 4px;
                            height: 38px;
                        }
                    }
                }
                
                &-active {
                    position: relative;
                    width: 600px;
                    background: #0F0F28;
        
                    &::before {
                        position: absolute;
                        content: "";
                        width: 99px;
                        height: 434px;
                        top: calc(0% - 12px);
                        left: calc(0% - 12px);
                        z-index: -1;
                        background: #C9AB63;
        
                        @media(max-width: 1024px) {
                            width: 57px;
                            height: 270px;
                            top: calc(0% - 7.5px);
                            left: calc(0% - 7px);
                        }
        
                        @media(max-width: 650px) {
                            width: 42px;
                            height: 200px;
                            top: calc(0% - 5.5px);
                            left: calc(0% - 5.5px);
                        }
                    }
        
                    &::after {
                        position: absolute;
                        content: "";
                        width: 99px;
                        height: 434px;
                        top: calc(0% - 12px);
                        right: calc(0% - 12px);
                        z-index: -1;
                        background: #C9AB63;

                        @media(max-width: 1024px) {
                            width: 57px;
                            height: 270px;
                            top: calc(0% - 7.5px);
                            right: calc(0% - 7px);
                        }

                        @media(max-width: 650px) {
                            width: 42px;
                            height: 200px;
                            top: calc(0% - 5.5px);
                            right: calc(0% - 5.5px);
                        }
                    }
        
                    @media(max-width: 1280px) {
                        width: 500px;
                    }

                    @media(max-width: 1024px) {
                        width: 345px;
                    }

                    @media(max-width: 842px) {
                        width: 300px;
                    }

                    @media(max-width: 650px) {
                        width: 254px;
                    }
        
                    & .image-compare {
                        max-width: 600px;
                        height: 410px;

                        @media(max-width: 1280px) {
                            max-width: 500px;
                            height: 310;
                        }

                        @media(max-width: 1024px) {
                            max-width: 345px;
                            height: 255px;
                        }

                        @media(max-width: 650px) {
                            max-width: 254px;
                            height: 189px;
                        }

                        @media(max-width: 400px) {
                            margin-right: 0;
                        }

                        .image-compare-before {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                } 
            }
        }

        .swiper-button-next {
            position: absolute;
            top: calc(50% - 16px);
            right: calc((100% - 664px) / 2);
            width: 64px;
            height: 64px;
            border: none;
            outline: none;
            border-radius: 50%;
            background: #C9AB63;

            &::after {
                display: none;
            }

            & svg {
                width: 8px;
                height: 16px;
            }

            @media(max-width: 1280px) {
                right: calc((100% - 550px) / 2);
            }

            @media(max-width: 1024px) {
                top: calc(50% + 2px);
                right: calc((100% - 380px) / 2);
                width: 36px;
                height: 36px;

                & svg {
                    width: 4.5px;
                    height: 9px;
                }
            }

            @media(max-width: 842px) {
                right: calc((100% - 340px) / 2);
            }

            @media(max-width: 650px) {
                top: calc(50% + 7px);
                right: calc((100% - 280px) / 2);
                width: 26px;
                height: 26px;

                & svg {
                    width: 3.26px;
                    height: 6.5px;
                }
            }
        }

        .swiper-button-prev {
            position: absolute;
            top: calc(50% - 16px);
            left: calc((100% - 664px) / 2);
            width: 64px;
            height: 64px;
            border: none;
            outline: none;
            border-radius: 50%;
            background: #C9AB63;

            &::after {
                display: none;
            }

            & svg {
                width: 8px;
                height: 16px;
            }

            @media(max-width: 1280px) {
                left: calc((100% - 550px) / 2);
            }

            @media(max-width: 1024px) {
                top: calc(50% + 2px);
                left: calc((100% - 380px) / 2);
                width: 36px;
                height: 36px;

                & svg {
                    width: 4.5px;
                    height: 9px;
                }
            }

            @media(max-width: 842px) {
                left: calc((100% - 340px) / 2);
            }

            @media(max-width: 650px) {
                top: calc(50% + 7px);
                left: calc((100% - 280px) / 2);
                width: 26px;
                height: 26px;

                & svg {
                    width: 3.26px;
                    height: 6.5px;
                }
            }
        }

        .swiper-pagination {
            bottom: calc(50% - 260px);

            @media(max-width: 1024px) {
                bottom: calc(50% - 175px);
            }

            @media(max-width: 650px) {
                bottom: calc(50% - 110px);
            }

            &-bullet {
                margin: 0;
                width: 12px;
                height: 12px;
                border: 1px solid rgba(15, 15, 40, 0.3);
                background: none;

                &:not(:last-child) {
                    margin-right: 12px;
                }

                &-active {
                    background: #C9AB63;
                    border: none;
                }

                @media(max-width: 650px) {
                    width: 8px;
                    height: 8px;

                    &:not(:last-child) {
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}